<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/vendor/bootstrap/v3/css/bs-col-sys.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/css/ratchet.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/mycss.css" />
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/function.js"></script>
</head>
<body class="addressbody">
    <script type="text/javascript" src="/js/baidu_count.js"></script>
    <header class="bar bar-nav bg-bule b-n">
        <a href='@Url.Action("Index","Account")' class="icon icon-goback pull-left"></a>
        <h1 class="title c-white">关于我们</h1>
    </header>
    <div class="content-box text-center mt-200">
        <img style="display:inline" src="//images/car-bule.png" width="75px" height="75px" class="mb-20">
        <p class="fs-17 c-gary1">趣订货<br>0.1.0 beta版</p>
    </div>
    <div class="positionfixed"><p class="text-center">Copyright @@2017趣订货<br />郑州拉普拉斯有限责任公司</p></div>
    <script type="text/javascript" src="//vendor/js/zepto.min.js"></script>
    <script type="text/javascript" src="//js/tjp.js"></script>
</body>
</html>